
<form id="addNewProd" class="addNewProd">
    <div>
        <label for="ProdTitle">
        <input type="text">
        </label>
    </div>
    <div>
        <label for="ProdDescrp">
        <input type="text">
        </label>
    </div>
    <div>
        <label for="ProdCode">
        <input type="number">
        </label>
    </div>
    <div>
        <label for="ProdPrice">
        <input type="number">
        </label>
    </div>
    <div>
        <label for="ProdStock">
        <input type="text">
        </label>
    </div>
    <div>
        <label for="ProdCategory">
        <input type="text">
        </label>
    </div>
    <div>
        <label for="ProdThumb">
        <input type="text">
        </label>
    </div>









</form>








<script src="/socket.io/socket.io.js"></script>
<script src=""></script>