<p>Hola</p>
<form id="addNewProd" class="addNewProd">
    <div>
        <label for="ProdTitle">Título
        <input type="text" name="Title">
        </label>
    </div>
    <div>
        <label for="ProdDescrp">Descripción
        <input type="text" name="Description">
        </label>
    </div>
    <div>
        <label for="ProdCode">Código
        <input type="number" name="Code">
        </label>
    </div>
    <div>
        <label for="ProdPrice">Precio
        <input type="number" name="Price">
        </label>
    </div>
    <div>
        <label for="ProdStock">Stock
        <input type="number" name="Stock">
        </label>
    </div>
    <div>
        <label for="ProdCategory">Categoría
        <input type="text" name="Category">
        </label>
    </div>
    <div>
        <label for="ProdThumb">Thumbnail
        <input type="text" name="Thumbnail">
        </label>
    </div>
    <button id='btn-form'>Agregar</button>
</form>
<div id="productContainer"></div>







<script src="/socket.io/socket.io.js"></script>
<script src="../public/index.js"></script>